<div class="header-container">
    <div class="top-bar">
        <div class="top-container">
            <a href="https://ebank.feib.com.tw/netbank/html/pages/jsp/Accessible/Login/login.jsp" target="_blank"><i class="fal fa-user mgr-1"></i>登入網路銀行</a>
            <a href="https://www.feib.com.tw/" target="_blank"><i class="fal fa-home mgr-1"></i>回官網</a>
        </div>
    </div>
    <header>
        <!-- PC -->
        <nav class="nav-bar">
            <div class="nav-container">
                <div class="hamburger-box">
                    <div class="hamburger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="logo-container">
                    <a href="https://www.feib.com.tw/" class="logo" target="_blank">
                        <div class="logo-img">
                            <img src="./images/logo/logo.svg" alt="logo" />
                        </div>
                    </a>
                    <a href="/" class="info">投資理財網</a>
                </div>
                <a href="https://ebank.feib.com.tw/netbank/html/pages/jsp/Accessible/Login/login.jsp" target="_blank" class="user-box fal fa-user fa-lg"></a>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">樂選基金</a>
                    <!-- 樂選基金 -->
                    <div class="unit unit-left">
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>基金績效搜尋</span></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>基金進階搜尋</span></a></li> 
                            </ul>
                        </div>
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>最新配息查詢</span></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>基金公司查詢</span></a></li> 
                            </ul>
                        </div>
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>樂知基金學堂</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">基金點閱排行</a>
                    <div class="unit unit-left">
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>優質特選基金</span><i class="common-icon menu-top10 icon-lg mgl-1 mgb-1"></i></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>核心配置首選</span><i class="common-icon menu-top10 icon-lg mgl-1 mgb-1"></i></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>本行熱銷排行</span><i class="common-icon menu-top10 icon-lg mgl-1 mgb-1"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">遠銀投資觀點</a>
                    <div class="unit unit-left">
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-movie icon-sm mgr-1"></i><span>遠銀市場觀點</span></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>投研財經展望</span></a></li> 
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>市場話題時事</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">樂富財經訊息</a>
                    <div class="unit unit-right">
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>國際金融資訊</span></a></li>
                                <div class="unit-box">
                                    <ul class="unit-box-list">
                                        <li class="unit-box-item"><a href="/internationalNews.html"><i class="common-icon menu-sm"></i>國際財經新聞</a></li>
                                        <li class="unit-box-item"><a href="/internationalEconomic.html"><i class="common-icon menu-sm"></i>各國經濟情勢</a></li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a href="javascript:;"><i class="common-icon menu-big icon-sm mgr-1"></i><span>基金資訊</span></a></li>
                                <div class="unit-box">
                                    <ul class="unit-box-list">
                                        <li class="unit-box-item"><a href="javascript:;"><i class="common-icon menu-sm"></i>基金新聞</a></li>
                                        <li class="unit-box-item"><a href="javascript:;"><i class="common-icon menu-sm"></i>境外基金休市公告</a></li>
                                        <li class="unit-box-item"><a href="javascript:;"><i class="common-icon menu-sm"></i>國內基金休市公告</a></li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/investmentBoard.html">投資產品公告</a>
                    <div class="unit unit-right">
                        <div class="unit-content">
                            <ul class="unit-list">
                                <li class="unit-item"><a class="anchor-link" href="#section-board"><i class="common-icon menu-big icon-sm mgr-1"></i><span>最新消息</span><i class="common-icon menu-top3 icon-lg mgl-1 mgb-1"></i></a></li> 
                                <li class="unit-item"><a href="https://www.feib.com.tw/fundnotice" target="_blank"><i class="common-icon menu-big icon-sm mgr-1"></i><span>通路報酬揭露查詢</span></a></li> 
                                <li class="unit-item"><a href="https://www.feib.com.tw/fundfee" target="_blank"><i class="common-icon menu-big icon-sm mgr-1"></i><span>後收型聲明書查詢</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Mobile -->
        <div class="menu">
            <div class="menu-wrapper">
                <div class="menu-head">
                    <i class="menu-close"></i>
                </div>
                <div class="menu-content">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <div class="menu-title">
                                <a class="menu-link" href="javascript:;">樂選基金</a>
                                <i class="fal fa-angle-up menu-toggle"></i>
                            </div>
                            <ul class="menu-expand menu-md">
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">基金績效搜尋</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">基金進階搜尋</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">最新配息查詢</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">基金公司查詢</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">樂知基金學堂</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <div class="menu-title">
                                <a class="menu-link" href="javascript:;">基金點閱排行</a>
                                <i class="fal fa-angle-up menu-toggle"></i>
                            </div>
                            <ul class="menu-expand menu-md">
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">優質特選基金<i class="common-icon menu-top10 icon-lg"></i></a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">核心配置首選<i class="common-icon menu-top10 icon-lg"></i></a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">本行熱銷排行<i class="common-icon menu-top10 icon-lg"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <div class="menu-title">
                                <a class="menu-link" href="javascript:;">遠銀投資觀點</a>
                                <i class="fal fa-angle-up menu-toggle"></i>
                            </div>
                            <ul class="menu-expand menu-md">
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">遠銀市場觀點</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">投研財經展望</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">市場話題時事</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <div class="menu-title">
                                <a class="menu-link" href="javascript:;">樂富財經訊息</a>
                                <i class="fal fa-angle-up menu-toggle"></i>
                            </div>
                            <ul class="menu-expand menu-md">
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">國際金融資訊</a>
                                        <i class="fal fa-angle-up menu-toggle toggle-md"></i>
                                    </div>
                                    <ul class="menu-expand menu-sm">
                                        <li class="menu-item">
                                            <div class="menu-title">
                                                <a class="menu-link" href="/internationalNews.html">國際財經新聞</a>
                                            </div>
                                        </li>
                                        <li class="menu-item">
                                            <div class="menu-title">
                                                <a class="menu-link" href="/internationalEconomic.html">各國經濟情勢</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="javascript:;">基金資訊</a>
                                        <i class="fal fa-angle-up menu-toggle toggle-md"></i>
                                    </div>
                                    <ul class="menu-expand menu-sm">
                                        <li class="menu-item">
                                            <div class="menu-title">
                                                <a class="menu-link" href="javascript:;">基金新聞</a>
                                            </div>
                                        </li>
                                        <li class="menu-item">
                                            <div class="menu-title">
                                                <a class="menu-link" href="javascript:;">境外基金休市公告</a>
                                            </div>
                                        </li>
                                        <li class="menu-item">
                                            <div class="menu-title">
                                                <a class="menu-link" href="javascript:;">國內基金休市公告</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <div class="menu-title">
                                <a class="menu-link" href="/investmentBoard.html">投資產品公告</a>
                                <i class="fal fa-angle-up menu-toggle"></i>
                            </div>
                            <ul class="menu-expand menu-md">
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link anchor-link" href="#section-board">最新消息<i class="common-icon menu-top3 icon-lg"></i></a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link" href="https://www.feib.com.tw/fundnotice" target="_blank">通路報酬揭露查詢</a>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <div class="menu-title">
                                        <a class="menu-link"  href="https://www.feib.com.tw/fundfee" target="_blank">後收型聲明書查詢</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    ##include('./sidebar.html')
                </div>
            </div>
        </div>
    </header>
</div>