<meta charset="UTF-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover' name='viewport' />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="title" content="##title" />
<meta name="description" content="##description" />
<meta name="keyword" contnet="##keyword" />

<title>##title</title>
<link rel="shortcut icon" href="../favicon.png" />

<!-- fb 分享設定 -->
<meta property="og:title" content="##title" />
<meta property="og:description" content="##description" />
<meta property="og:type" content="website" />
<meta property="og:url" content="##url" />
<meta property="og:image" content="##share-image" />
<!-- fb 分享設定 end -->

<link rel="stylesheet" href="./lib/fontawesome/css/all.min.css">
<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">

<script src="./lib/jquery/jquery-3.5.1.min.js"></script>
<script src="./lib/jquery/jquery-ui.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- build:js ./scripts/backToTop.js -->
<script src="./scripts/backToTop.js"></script>
<!-- endbuild -->

<!-- build:js ./scripts/header.js -->
<script src="./scripts/header.js"></script>
<!-- endbuild -->

<!-- build:js ./scripts/footer.js -->
<script src="./scripts/footer.js"></script>
<!-- endbuild -->