<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="common-icon modal-icon mgr-1"></i>立即下單</h5>
            </div>
            <div class="modal-body">
                <div>請問您是否為遠東商銀「網路銀行客戶」?</div>
                <div class="mgt-5">
                    <a href="https://iapp.feib.com.tw/hppApply/home/index" target="_blank" class="modal-btn gray">否</a>
                    <a href="https://www.feib.com.tw/" target="_blank" class="modal-btn red">是</a>
                </div>
            </div>
            <div class="modal-close" data-dismiss="modal" aria-label="Close"></div>
        </div>
    </div>
</div>