<ul class="sidebar-list">
    <li class="sidebar-item">
        <a href="javascript:;" class="sidebar-link" data-toggle="modal" data-target="#exampleModal">
            <div class="sidebar-icon"><i class="common-icon sidebar-order"></i></div>
            <div>立即下單</div>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="javascript:;" class="sidebar-link">
            <div class="sidebar-icon"><i class="common-icon sidebar-dividend"></i></div>
            <div>配息查詢</div>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="javascript:;" class="sidebar-link">
            <div class="sidebar-icon"><i class="common-icon sidebar-value"></i></div>
            <div>淨值查詢</div>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://iapp.feib.com.tw/hppApply/application/index" target="_blank" class="sidebar-link">
            <div class="sidebar-icon"><i class="common-icon sidebar-account"></i></div>
            <div>立即開戶</div>
        </a>
    </li>
</ul>